.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    text-align: center;
}

.infected{
    border-bottom: 10px solid rgb(255, 0, 0);
    border-top: 10px solid rgb(255, 0, 0);
}

.recovered{
    border-bottom: 10px solid rgb(255, 0, 0);
    border-top: 10px solid rgb(255, 0, 0);

}

.deaths{
    border-bottom: 10px solid rgb(255, 0, 0);
    border-top: 10px solid rgb(255, 0, 0);

}

@media (max-width: 770px) {
    .card
    {
        margin: 2% 0 !important;
    }
}
